@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  padding: 0 20px;
  background: #1b2a49;
}
::selection{
  background: rgba(23,162,184,0.3);
}
.container{
  max-width: 700px;
  width: 100%;
  margin: 200px auto;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  color: #1b2a49;
}
.container header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
.container nav{
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.container nav label{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #000;
  font-size: 17px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.container nav label:hover{
  color:#bada55;
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#services:checked ~ nav label.services,
  #about:checked ~ nav label.about{
  color: #bada55;
  border-bottom-color: black;
}
/* nav label i{
  padding-right: 7px;
} */
input[type="radio"]{
  display: none;
}
/* #blog:checked ~ nav .slider{
  left: 25%;
}
#services:checked ~ nav .slider{
  left: 50%;
}
#about:checked ~ nav .slider{
  left: 75%;
} */
section .content{
  display: none;
  background: #fff;
}
#home:checked ~ section .content-1,
#blog:checked ~ section .content-2,
#services:checked ~ section .content-3,
#about:checked ~ section .content-4{
  display: block;
}
section .content .title{
  font-size: 21px;
  font-weight: 500;
  margin: 30px 0 10px 0;
}
section .content p{
text-align: justify;
}